body {
    background-color: white ;
    
}

.header {
    overflow: hidden;
    border-bottom: solid;

}

.header-right {
    float: right;
    
}

.header-left {
    float: left;
}

.header a {
    color: black;
    padding: 12px;
    text-decoration: none;
    font-size: 22px;
    font-family: calibri;
    border-radius: 4px;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.logo {
    align-items: left;
    float: left;
  }

img {
    height: auto;
  }

.title {
    text-align: center;
    font-family: 'Calibri';
}

.main-container {
    margin-left: 10%;
    margin-right: 10%;
}

.sub-main-container {
	margin: auto;
    text-align: center;
	
	display: grid;
	grid-template-columns: 10% 10% 10%;
	
	grid-gap: 25%;
}

.map {
    margin: auto;
    text-align: center;
}

.footer {
    margin-top: 5%;
    border-top: solid;
    border-width: thin;
    color: gray;

    display: grid;
    grid-template-columns: 30% 10% 10%;
    grid-gap: 25%;
}

.health-container {
    width: 1000px;
	margin: 30px auto;
	
	display: grid;
	grid-template-columns: 150px 150px 150px 150px;
	
	grid-gap: 30px;
}

.legal-container {
    width: 1000px;
	margin: 30px auto;
	
	display: grid;
	grid-template-columns: 150px 150px;
	
	grid-gap: 30px;
}

.category {
	padding: 20px;
	font-size: 30px;
	font-family: sans-serif;
	color: white;
}